body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F5CF4F;
}
.box{
    box-shadow: 5px 5px 0px 7px rgba(0,0,0,1);
}
.avatar img{
    height: 70px;
    width: 70px;
    object-fit: cover;
}